<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class ="navbar-text"> 
    You can contact Us at ↓ <br>
    <a href="https://www.linkedin.com/school/ontariotech/"><i class="fa-brands fa-lg fa-linkedin"></i></a>
    <a href="https://ontariotechu.ca/"><i class="fas fa-home"></i></a><br>
    <a href="https://ontariotechu.ca/"><i class="fab fa-instagram"></i></a><br>
  &copy; 2023 Group 14 | Ontario Tech University</h6>
  </nav>