<!-- Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h6 class ="navbar-text"> 
    You can contact me at ↓ <br>
    <a href="https://www.linkedin.com/in/annlita-joshy-aykara/"><i class="fa-brands fa-lg fa-linkedin"></i></a>
    <a href="https://github.com/annlita"><i class="fa-brands fa-lg fa-square-github"></i></a><br>
  &copy; 2023 Annlita Joshy Aykara | Ontario Tech University</h6>
  </nav>