<!-- Bottom Nav Bar -->
<!-- Links to different websites and Copyright -->
<nav class="navbar fixed-bottom navbar-dark">
    <h6 class ="navbar-text"> 
    You can contact Us at ↓ <br>
    <a href="https://www.linkedin.com/school/ontariotech/"><i class="fa-brands fa-lg fa-linkedin"></i></a>
    <a href="https://www.instagram.com/ontariotechu/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.youtube.com/c/OntarioTech"><i class="fa-brands fa-youtube"></i></a><br>
  &copy; 2023 Group 14 | Ontario Tech University</h6>
  </nav>