
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>

  <!--CSS files-->
  <link rel='stylesheet' href='/content/app.css' type="text/css" media="only screen and (min-width:960px)"/>
  <!--<link rel='stylesheet' href='/content/mobile.css' type="text/css" media="only screen and (max-width:480px)"/>
  <link rel='stylesheet' href='/content/tablet.css' type="text/css" media="only screen and (min-width:481px) and (max-width:960px)"/>-->
  
  <!--Linking Bootstrap and Importing FontAwesome-->
  <link rel='stylesheet' href='/bootstrap/dist/css/bootstrap.min.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css'/>

  <!--Importing Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@700&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
</head>

