<!--NavBar-->
<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <!-- Brand logo and name -->
        <img src="../assests/images/logo.png" alt = "Logo of UOIT" style= "width:100px; height:60px">
        <a class="navbar-brand" href="/"> Ontario Tech University</a>

        <!-- Navbar Toggler for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Links Container -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Navbar Links List -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                <!-- Home Page Link for Navigation -->
                <li class="nav-item">
                    <% if (title == "Home") { %>
                        <!-- Add 'active' class if the current page is Home -->
                        <a class="nav-link active" href="/home">
                    <% } else { %>
                        <a class="nav-link" href="/home">
                    <% } %>
                        <i class="fa-solid fa-house"></i> Home</a>
                </li>

                <!-- Faculties Page Link for Navigation -->
                <li class="nav-item">
                    <% if (title == "Faculties") { %>
                        <!-- Add 'active' class if the current page is Faculties -->
                        <a class="nav-link active" href="/faculties">
                    <% } else { %>
                        <a class="nav-link" href="/faculties">
                    <% } %>
                        <i class="fa-solid fa-users"></i> Faculties</a>
                </li>

                <!-- Events Page Link for Navigation -->
                <li class="nav-item">
                    <% if (title == "Events") { %>
                        <!-- Add 'active' class if the current page is Events -->
                        <a class="nav-link active" href="/event-list">
                    <% } else { %>
                        <a class="nav-link" href="/event-list">
                    <% } %>
                        <i class="fa-solid fa-calendar-days"></i> Events</a>
                </li>

                <!-- Feedback Page Link for Navigation -->
                <li class="nav-item">
                    <% if (title == "Feedback") { %>
                        <!-- Add 'active' class if the current page is Feedback -->
                        <a class="nav-link active" href="/feedback">
                    <% } else { %>
                        <a class="nav-link" href="/feedback">
                    <% } %>
                        <i class="fa-solid fa-message"></i> Feedback</a>
                </li>

                    <% if(typeof displayName == 'string' && displayName) { %>
                        <li class="navbar-text">
                            <i class="fas fa-lg fa-user"></i>
                            Welcome, <%= displayName %>
                        </li>
                        <li class="nav-item">
                            <a href="/logout" class="nav-link" >
                            <i class="fa-solid fa-sign-out-alt"></i> Logout</a>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                            <a href="/login" class="nav-link">
                            <i class="fa-solid fa-sign-in-alt"></i> Login</a>
                        </li>
                        <% } %>
            </li>
        </div>
    </div>
</nav>
