<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faculty Page</title>
  <link rel="stylesheet" href="faculty.css">
</head>
<body>
  <div class="faculty-container">
    <h1>Our Faculty</h1>

 
    <div class="faculty-section">
      <h2>Business Faculty</h2>
      <div class="faculty-member">
        <img src="assests\images\lauren.jpg" alt="Professor Laura Green" width="350>
        <div class="faculty-name">Professor Laura Green</div>
      </div>
      <div class="faculty-member">
        <img src="assests\images\hui.webp" alt="Professor Hui Chang" width="350>
        <div class="faculty-name">Professor Hui Chang</div>
      </div>
    </div>

    
    <div class="faculty-section">
      <h2>Computer Science Faculty</h2>
      <div class="faculty-member">
        <img src="assests\images\ali.jpg" alt="Professor Ahmad Ali" width="350">
        <div class="faculty-name">Professor Ahmad Ali</div>
      </div>
      <div class="faculty-member">
        <img src="assests\images\will.jpg" alt="Professor William Davis" width="350>
        <div class="faculty-name">Professor William Davis</div>
      </div>
    </div>

   
    <div class="faculty-section">
      <h2>Law Faculty</h2>
      <div class="faculty-member">
        <img src="assests\images\kat.jpg" alt="Professor Kathleen Johnson" width="350>
        <div class="faculty-name">Professor Kathleen Johnson</div>
      </div>
    </div>

    
    <div class="faculty-section">
      <h2>Health Science Faculty</h2>
      <div class="faculty-member">
        <img src="assests\images\peter.jpg" alt="Professor Peter" width="350>
        <div class="faculty-name">Professor Peter</div>
      </div>
    </div>

  </div>
</body>
</html>
