<div id = "faculty">
  <!-- Container for faculty information -->
  <br>
  <div class="faculty-container">
    <!-- Main heading for the faculty page -->
   

    <!-- Section for the Business Faculty -->
    <div class="faculty-section"><br>
      <!-- Subheading of Business Faculty -->
      <h2>Business Faculty</h2>
      <!--  faculty member  image, name -->
      <div class="faculty-member" float= center>
        <!--<img src="assets\images\lauren.jpg" alt="Professor Laura Green" style="width:350">-->
        <img src="assests\images\lauren.jpg" alt = "Professor Ahmad Ali" style="float:center; width:200px; height:200px">
        <div class="faculty-name">Professor Laura Green</div>
      </div>
      <br>
      <div class="faculty-member">
        <!--<img src="assets\images\hui.webp" alt="Professor Hui Chang" width="350">-->
        <img src="assests\images\hui.webp" alt = "Professor Hui Chang" style="margin:center; width:200px; height:200px">
        <div class="faculty-name">Professor Hui Chang</div>
      </div>
    </div>
    <br><br><br>
    <!-- Computer Science Faculty section -->
    <div class="faculty-section">
      <!-- Subheading for Computer Science Faculty -->
      <h2>Computer Science Faculty</h2>
      <!--  faculty member with image, name-->
      <div class="faculty-member">
        <!--<img src="assests\images\ali.jpg" alt="Professor Ahmad Ali" width="350">-->
        <img src="assests\images\ali.jpg" alt = "Professor Ahmad Ali" style="float:center; width:200px; height:200px">
        <div class="faculty-name">Professor Ahmad Ali</div>
      </div>
      <br>
      <div class="faculty-member">
        <!--<img src="assets\images\will.jpg" alt="Professor William Davis" width="350">-->
        <img src="assests\images\will.jpg" alt = "Professor William Davis" style="float:center; width:200px; height:200px">
        <div class="faculty-name">Professor William Davis</div>
      </div>
    </div>

    <br><br><br>
    <div class="faculty-section">
      <!-- Subheading of Law Faculty -->
      <h2>Law Faculty</h2>
      <!-- Individual faculty member with image, name -->
      <div class="faculty-member">
        <!--<img src="assets\images\kat.jpg" alt="Professor Kathleen Johnson" width="350">-->
        <img src="assests\images\kat.jpg" alt = "Professor Kathleen Johnson" style="float:center; width:200px; height:200px">
        <div class="faculty-name">Professor Kathleen Johnson</div>
      </div>
    </div>
    <br>
    <!-- Section  Health Science Faculty -->
    <div class="faculty-section">
      <!-- Subheading for the Health Science Faculty -->
      <h2>Health Science Faculty</h2> 
      <!--  faculty member with image, name -->
      <div class="faculty-member">
        <!--<img src="assets\images\peter.jpg" alt="Professor Peter" width="350">-->
        <img src="assests\images\peter.jpg" alt = "Professor Peter" style="float:center; width:200px; height:200px">

        <div class="faculty-name">Professor Peter</div>
      </div>
    </div>

  </div>
  </div>
