
<div id = "forms"> <!--Defining form-->
<form action="mailto:annlitajoshyaykara@ontariotechu.net" method="post" enctype="text/plain" name="form"> 
    
    <!-- Feedback Form -->
        <!-- Name Input Field -->
        <p>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required> </p>

        <!-- Student ID Input Field -->
        <p><label for="studentId">Student ID:</label>
        <input type="text" id="studentId" name="studentId" required></p>

        <!-- Email Input Field -->
        <p><label for="email">Email:</label>
        <input type="email" id="email" name="email" required></p>

        <!-- Faculty Input Field -->
        <p><label for="faculty">Faculty:</label>
        <input type="text" id="faculty" name="faculty" required></p>

        <!-- Question/Suggestion Textarea -->
        <p><label for="questionSuggestion">Question/Suggestion:</label>
        <textarea id="questionSuggestion" name="questionSuggestion" rows="4" required></textarea></p>

        <!-- Submit and Reset Buttons -->
        <p><br><br><br><input type="checkbox" name="checkbox" required>
        <label for "checkbox">I am not a robot!</label></p>

        <p><br><br><br>
        <input type ="submit" value="Submit"/> 
        <input type ="reset" value="Reset"/></p> 
        <!--Submit and Reset button-->
    </form>
    </div>
