<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="views/feedback.css">
    <title>Feedback Form</title>
</head>
<body>
    
    <form id="feedbackForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="studentId">Student ID:</label>
        <input type="text" id="studentId" name="studentId" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="faculty">Faculty:</label>
        <input type="text" id="faculty" name="faculty" required>

        <label for="questionSuggestion">Question/Suggestion:</label>
        <textarea id="questionSuggestion" name="questionSuggestion" rows="4" required></textarea>

        
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>

</body>
</html>
