<!-- Code for Home Page-->

<div id = "home">
    <marquee><h1> Welcome To Ontario Tech University! </h1></marquee> <br><br><br>
    <img src="assests\images\UniPic.jpg" alt = "Three people standing in front of UOIT" style="float:center; width:100%; height:800px"> <!--Embedding image-->
    
    <br><br><br>
    
    <p>Ontario Tech University, located in Oshawa, Ontario, is a dynamic and innovative institution known
      for its commitment to experiential learning, cutting-edge research, and technological advancements.
      Established in 2002, the university has quickly earned a reputation for its emphasis on the intersection 
      of technology, science, and the humanities. With a diverse range of undergraduate and graduate programs, 
      Ontario Tech fosters a vibrant learning environment where students are encouraged to explore and contribute 
      to the ever-evolving world of technology and knowledge. The campus features state-of-the-art facilities, and
      the faculty comprises accomplished researchers and educators dedicated to preparing students for success in
      the rapidly changing global landscape. Ontario Tech University is not only a hub for academic excellence 
      but also a community that values innovation, collaboration, and the pursuit of knowledge.</p>
        <br>
    <p>Beyond its academic excellence, Ontario Tech University is deeply committed to community engagement and 
       social responsibility. The university encourages students to participate in various extracurricular 
       activities, community service initiatives, and industry partnerships. Through these experiences, students 
       gain valuable real-world skills, leadership qualities, and a sense of civic duty. Ontario Tech's commitment 
       to fostering a supportive and inclusive community is reflected in its diverse student body and the range 
       of services offered, ensuring that students receive the support they need to thrive personally and 
       academically. The university's forward-thinking approach and dedication to preparing graduates for the 
       challenges of the future make it a dynamic and influential institution in the Canadian higher education 
       landscape.</p>
       </div>
