@charset "UTF-8";
* {
box-sizing: border-box;
}

body {
background: #F50701;
background: -moz-linear-gradient(top, #F58500, #F50701);
background: -webkit-linear-gradient(top, #F58500, #F50701);
background: -o-linear-gradient(top, #F58500, #F50701);
background: linear-gradient(to top, #F58500, #F50701);
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
margin: 0; 
height: 1700px;
}

#home {
height: 1000px;
text-align: center;
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
}

a:hover{
    color: white;   
}

#about {
height: 800px;
}

.title {
height: 80px;
text-align: center;
font-family: Caveat Brush, Verdana, Geneva, Arial, sans-serif;
}

.container {
    font-family: Cambria, Verdana, Geneva, Arial, sans-serif;
    color: #003C71;
}

#left-column {
float: left; height: 600px;
width: 560px;
}

#right-column {
float: right;  
width: 800px; height: 600px;
margin-right: 50px;
margin-left: 0px;
font-size: 25px;
font-family: Caveat Brush, Verdana, Geneva, Arial, sans-serif;
}


video {
width:100%;

}


#projects {
height: 800px;
}

#project1 {
float: center;
text-align: center;
margin-right: 50px;
font-family: Caveat Brush, Verdana, Geneva, Arial, sans-serif;
}

#contact {
height: 800px;
}

#forms {
text-align: center;
float: center;
height: 1100px;
margin-right: 300px; 
margin-left: 300px;
margin-bottom: 200px;
background: #0077CA;
background: -moz-linear-gradient(45deg, #66EBFA, #0077CA);
background: -webkit-linear-gradient(45deg, #66EBFA, #0077CA);
background: -o-linear-gradient(45deg, #66EBFA, #0077CA);
background: linear-gradient(45deg, #66EBFA, #0077CA);
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6,li {
margin-left:15px;
}

#right-column p {
    color: antiquewhite;
}
#home h1{
    color: antiquewhite;
}
#home p{
    color: antiquewhite;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
#project1 h1{
    color: palevioletred;
}

#project1 h3{
    color: antiquewhite;
}


header{
background: #DB0632;
background: -moz-linear-gradient(top,#5C0315, #E14A69);
background: -webkit-linear-gradient(top, #5C0315, #E14A69);
background: -o-linear-gradient(top, #5C0315, #E14A69);
background: linear-gradient(to bottom,#5C0315, #E14A69);
font-family: Dancing Script, Verdana, Geneva, Arial, sans-serif;
padding: 40px;
font-size: 25px;
text-align: center;
}

#banner h1 {
color: white;
}

.clear {
    clear: both;
}


footer {
text-align: center;
font-family: Dancing Script, Verdana, Geneva, Arial, sans-serif;
background: #DB0632;
background: -moz-linear-gradient(top, #E14A69, #5C0315);
background: -webkit-linear-gradient(top, #E14A69, #5C0315);
background: -o-linear-gradient(top, #E14A69, #5C0315);
background: linear-gradient(to bottom,#E14A69, #5C0315);
padding: 10px;
}
