@charset "UTF-8";
* {
box-sizing: border-box;
}

body {
background: #F55020;
background: -moz-linear-gradient(top, #F58500, #F55020);
background: -webkit-linear-gradient(top, #F58500, #F55020);
background: -o-linear-gradient(top, #F58500, #F55020);
background: linear-gradient(to top, #F58500, #F55020);
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
margin: 0; 
}

#home {
height: 1600px;
text-align: center;
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
}
#home h1{
  color: antiquewhite;
  
}
#home p{
  color: antiquewhite;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

#faculty{
  height: 2000px;
}
.faculty-container {
  width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background: grey;
  background: -moz-linear-gradient(45deg, silver, grey);
  background: -webkit-linear-gradient(45deg, silver, grey);
  background: -o-linear-gradient(45deg, silver, grey);
  background: linear-gradient(45deg, silver, grey);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.faculty-member {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.faculty-member img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px; 
  margin-right: 15px;
}

.faculty-name {
  font-size: 18px;
  font-weight: bold;
  color: #003C71;
}

.events{
  height: 1150px !important;
}

.title {
height: 80px;
text-align: center;
font-family: Caveat Brush, Verdana, Geneva, Arial, sans-serif;
}

.container {
    font-family: Cambria, Verdana, Geneva, Arial, sans-serif;
    color: black;
}

#forms {
text-align: center;
float: center;
height: 1100px;
margin-right: 300px; 
margin-left: 300px;
margin-bottom: 200px;
background: grey;
background: -moz-linear-gradient(45deg, silver, grey);
background: -webkit-linear-gradient(45deg, silver, grey);
background: -o-linear-gradient(45deg, silver, grey);
background: linear-gradient(45deg, silver, grey);
font-family: Georgia, 'Times New Roman', Verdana, Geneva, Arial, sans-serif;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1,h2,h3,h4,h5,h6,li {
margin-left:15px;
}


.navbar
{background-color: #003C71 !important}


.clear {
    clear: both;
}


